numpy
pandas
Flask
scikit-learn
https://download.pytorch.org/whl/torch_stable.html
https://download.pytorch.org/whl/cu90/torch_stable.html
https://download.pytorch.org/whl/cu80/torch_stable.html
requests
Pillow
gunicorn == 20.0.4
